// My variables

// Colors
$yellow: #fff4ca;
$pink: #cc33cc;
$purple: #801daa;
$green: #7ae12c;
$skyblue: #15f2fd;
$witchy: #333300; //dark shade of yellow-green
$berryred: #cc3333;
$darkblue: #000099;
$brown: #663333;

// Fonts
$primary-font: 'Forum', serif;
$secondary-font: 'Playball',serif;